<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap-fileupload.js"></script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-fileupload.min.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div>
    <div style="float:left;font-weight: bold;font-size:20px;line-height: 47px;margin: 0 20px;">管理后台</div>
    <ul class="nav navbar-nav" style="float: left">
      <% if (locals.session.user.isAdmin) { %>
      <li class="">
        <a href="/admin/user">用户列表</a>
      </li>
      <% } %>
      <li>
        <a href="/admin/shop">店铺列表</a>
      </li>
      <li>
        <a href="/admin/food">美食汇</a>
      </li>
      <li class="nav_item_my">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          统计报表 <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">周统计</a></li>
          <li><a href="#">月统计</a></li>
          <li><a href="#">年统计</a></li>
        </ul>
      </li>
      <li>
        <a href="/user/logout">注销</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">